*{
    text-align: center;
}
#mainTopic{
    color: blue;
}
h1::first-letter{
    color: red;
}
h1,h3,h5{
    font-family: Georgia;
}
#hello > p{
    background-color:  cornflowerblue;
    color: white;
}
div button{
    background-color: purple;
    color: azure;
}
button:hover{
    background-color: yellow;
    color: darkgreen;
}
input[type="checkbox"]:active + label{
    color:darkgreen;
}